// ADDITIVE SYMBOLS: NOPE

// ALIGN CONTENT
.bc-al-co-ce { -webkit-align-content: center;align-content: center; }
.bc-al-co-fl-en { -webkit-align-content: flex-end;align-content: flex-end; }
.bc-al-co-fl-st { -webkit-align-content: flex-start;align-content: flex-start; }
.bc-al-co-inh { -webkit-align-content: inherit;align-content: inherit; }
.bc-al-co-ini { -webkit-align-content: initial;align-content: initial; }
.bc-al-co-sp-ar { -webkit-align-content: space-around;align-content: space-around; }
.bc-al-co-sp-bt { -webkit-align-content: space-between;align-content: space-between; }
.bc-al-co-st { -webkit-align-content: stretch;align-content: stretch; }
.bc-al-co-un { -webkit-align-content: unset;align-content: unset; }

// ALIGN ITEMS
.bc-al-it-ba { -webkit-align-items: baseline;align-items: baseline; }
.bc-al-it-ce { -webkit-align-items: center;align-items: center; }
.bc-al-it-fl-en { -webkit-align-items: flex-end;align-items: flex-end; }
.bc-al-it-fl-st { -webkit-align-items: flex-start;align-items: flex-start; }
.bc-al-it-inh { -webkit-align-items: inherit;align-items: inherit; }
.bc-al-it-ini { -webkit-align-items: initial;align-items: initial; }
.bc-al-it-st { -webkit-align-items: stretch;align-items: stretch; }
.bc-al-it-un { -webkit-align-items: unset;align-items: unset; }

// ALIGN SELF
.bc-al-se-au { -webkit-align-self: auto;align-self: auto; }
.bc-al-se-ba { -webkit-align-self: baseline;align-self: baseline; }
.bc-al-se-ce { -webkit-align-self: center;align-self: center; }
.bc-al-se-fl-en { -webkit-align-self: flex-end;align-self: flex-end; }
.bc-al-se-fl-st { -webkit-align-self: flex-start;align-self: flex-start; }
.bc-al-se-inh { -webkit-align-self: inherit;align-self: inherit; }
.bc-al-se-ini { -webkit-align-self: initial;align-self: initial; }
.bc-al-se-st { -webkit-align-self: stretch;align-self: stretch; }
.bc-al-se-un { -webkit-align-self: unset;align-self: unset; }

// ALIGNMENT BASELINE
.bc-al-ba-af-ed { alignment-baseline: after-edge; }
.bc-al-ba-al { alignment-baseline: alphabetic; }
.bc-al-ba-ba { alignment-baseline: baseline; }
.bc-al-ba-be-ed { alignment-baseline: before-edge; }
.bc-al-ba-ce { alignment-baseline: central; }
.bc-al-ba-ha { alignment-baseline: hanging; }
.bc-al-ba-id { alignment-baseline: ideographic; }
.bc-al-ba-inh { alignment-baseline: inherit; }
.bc-al-ba-ini { alignment-baseline: initial; }
.bc-al-ba-ma { alignment-baseline: mathematical; }
.bc-al-ba-mi { alignment-baseline: middle; }
.bc-al-ba-te-af-ed { alignment-baseline: text-after-edge; }
.bc-al-ba-te-be-ed { alignment-baseline: text-before-edge; }
.bc-al-ba-us-sc { alignment-baseline: use-script; }

// ALL
.bc-all-inh { all: inherit; }
.bc-all-ini { all: initial; }
.bc-all-un { all: unset; }

// ANIMATION: NOPE

// ANIMATION DELAY: NOPE

// ANIMATION DIRECTION: NOPE

// ANIMATION DURATION: NOPE

// ANIMATION FILL MODE: NOPE

// ANIMATION ITERATION COUNT: NOPE

// ANIMATION NAME: NOPE

// ANIMATION PLAY STATE: NOPE

// ANIMATION TIMING FUNCTION: NOPE