// BACKFACE VISIBILITY: NOPE

// BACKGROUND: NOPE

// BACKGROUND ATTACHMENT
.bc-ba-at-fi { background-attachment: fixed; }
.bc-ba-at-in { background-attachment: inherit; }
.bc-ba-at-lo { background-attachment: local; }
.bc-ba-at-sc { background-attachment: scroll; }

// BACKGROUND BLEND MODE
.bc-ba-bl-mo-inh { background-blend-mode: inherit; }
.bc-ba-bl-mo-ini { background-blend-mode: initial; }
.bc-ba-bl-mo-no { background-blend-mode: normal; }
.bc-ba-bl-mo-un { background-blend-mode: unset; }

// BACKGROUND CLIP
.bc-ba-cl-bo-bo { background-clip: border-box; }
.bc-ba-cl-co-bo { background-clip: content-box; }
.bc-ba-cl-in { background-clip: inherit; }
.bc-ba-cl-pa-bo { background-clip: padding-box; }

// BACKGROUND COLOR: NOPE

// BACKGROUND IMAGE
.bc-ba-im-no { background-image: none; }
.bc-ba-im-in { background-image: inherit; }

// BACKGROUND ORIGIN
.bc-ba-or-bo-bo { background-origin: border-box; }
.bc-ba-or-co-bo { background-origin: content-box; }
.bc-ba-or-pa-bo { background-origin: padding-box; }
.bc-ba-or-in { background-origin: inherit; }

// BACKGROUND POSITION
// *Included just some position combinations
.bc-ba-po-cb { background-position: center bottom; }
.bc-ba-po-cc { background-position: center center; }
.bc-ba-po-ct { background-position: center top; }
.bc-ba-po-lb { background-position: left bottom; }
.bc-ba-po-lc { background-position: left center; }
.bc-ba-po-lt { background-position: left top; }
.bc-ba-po-rb { background-position: right bottom; }
.bc-ba-po-rc { background-position: right center; }
.bc-ba-po-rt { background-position: right top; }

// BACKGROUND REPEAT
.bc-ba-re-re { background-repeat: repeat; }
.bc-ba-re-re-x { background-repeat: repeat-x; }
.bc-ba-re-re-y { background-repeat: repeat-y; }
.bc-ba-re-ro { background-repeat: round; }
.bc-ba-re-sp { background-repeat: space; }
.bc-ba-re-no-re { background-repeat: no-repeat; }
.bc-ba-re-in { background-repeat: inherit; }

// BACKGROUND SIZE
.bc-ba-si-con { background-size: contain; }
.bc-ba-si-cov { background-size: cover; }
.bc-ba-si-inh { background-size: inherit; }
.bc-ba-si-ini { background-size: initial; }
.bc-ba-si-un { background-size: unset; }

// BLOCK SIZE: NOPE

// BORDER: NOPE

// BORDER BLOCK END: NOPE

// BORDER BLOCK END COLOR: NOPE

// BORDER BLOCK END STYLE: NOPE

// BORDER BLOCK END WIDTH: NOPE

// BORDER BLOCK START: NOPE

// BORDER BLOCK START COLOR: NOPE

// BORDER BLOCK START STYLE: NOPE

// BORDER BLOCK START WIDTH: NOPE

// BORDER BOTTOM: NOPE

// BORDER BOTTOM COLORS: NOPE

// BORDER BOTTOM LEFT RADIUS: NOPE

// BORDER BOTTOM RIGHT RADIUS: NOPE

// BORDER BOTTOM STYLE
.bc-bo-bo-st-da { border-bottom-style: dashed; }
.bc-bo-bo-st-dot { border-bottom-style: dotted; }
.bc-bo-bo-st-dou { border-bottom-style: double; }
.bc-bo-bo-st-gr { border-bottom-style: groove; }
.bc-bo-bo-st-hi { border-bottom-style: hidden; }
.bc-bo-bo-st-ins { border-bottom-style: inset; }
.bc-bo-bo-st-no { border-bottom-style: none; }
.bc-bo-bo-st-ou { border-bottom-style: outset; }
.bc-bo-bo-st-ri { border-bottom-style: ridge; }
.bc-bo-bo-st-so { border-bottom-style: solid; }
.bc-bo-bo-st-inh { border-bottom-style: inherit; }

// BORDER BOTTOM WIDTH
.bc-bo-bo-wi-me { border-bottom-width: medium; }
.bc-bo-bo-wi-thic { border-bottom-width: thick; }
.bc-bo-bo-wi-thin { border-bottom-width: thin; }
.bc-bo-bo-wi-in { border-bottom-width: inherit; }

// BORDER COLLAPSE
.bc-bo-co-co { border-collapse: collapse; }
.bc-bo-co-se { border-collpase: separate; }
.bc-bo-co-in { border-collapse: inherit; }

// BORDER COLOR: NOPE

// BORDER IMAGE: NOPE

// BORDER IMAGE OUTSET: NOPE

// BORDER IMAGE REPEAT: NOPE

// BORDER IMAGE SLICE: NOPE

// BORDER IMAGE SOURCE: NOPE

// BORDER IMAGE WIDTH: NOPE

// BORDER INLINE END: NOPE

// BORDER INLINE END COLOR: NOPE

// BORDER INLINE END STYLE: NOPE

// BORDER INLINE END WIDTH: NOPE

// BORDER INLINE START: NOPE

// BORDER INLINE START COLOR: NOPE

// BORDER INLINE START STYLE: NOPE

// BORDER INLINE START WIDTH: NOPE

// BORDER LEFT: NOPE

// BORDER LEFT COLOR: NOPE

// BORDER LEFT STYLE
.bc-bo-le-st-da { border-left-style: dashed; }
.bc-bo-le-st-dot { border-left-style: dotted; }
.bc-bo-le-st-dou { border-left-style: double; }
.bc-bo-le-st-gr { border-left-style: groove; }
.bc-bo-le-st-hi { border-left-style: hidden; }
.bc-bo-le-st-ins { border-left-style: inset; }
.bc-bo-le-st-no { border-left-style: none; }
.bc-bo-le-st-ou { border-left-style: outset; }
.bc-bo-le-st-ri { border-left-style: ridge; }
.bc-bo-le-st-so { border-left-style: solid; }
.bc-bor-le-st-inh { border-left-style: inherit; }

// BORDER LEFT WIDTH
.bc-bo-le-wi-me { border-left-width: medium; }
.bc-bo-le-wi-thic { border-left-width: thick; }
.bc-bo-le-wi-thin { border-left-width: thin; }
.bc-bo-le-wi-in { border-left-width: inherit; }

// BORDER RADIUS: NOPE

// BORDER RIGHT: NOPE

// BORDER RIGHT COLOR: NOPE

// BORDER RIGHT STYLE
.bc-bo-ri-st-da { border-right-style: dashed; }
.bc-bo-ri-st-dot { border-right-style: dotted; }
.bc-bo-ri-st-dou { border-right-style: double; }
.bc-bo-ri-st-gr { border-right-style: groove; }
.bc-bo-ri-st-hi { border-right-style: hidden; }
.bc-bo-ri-st-ins { border-right-style: inset; }
.bc-bo-ri-st-no { border-right-style: none; }
.bc-bo-ri-st-ou { border-right-style: outset; }
.bc-bo-ri-st-ri { border-right-style: ridge; }
.bc-bo-ri-st-so { border-right-style: solid; }
.bc-bo-ri-st-inh { border-right-style: inherit; }

// BORDER RIGHT WIDTH
.bc-bo-ri-wi-me { border-right-width: medium; }
.bc-bo-ri-wi-thic { border-right-width: thick; }
.bc-bo-ri-wi-thin { border-right-width: thin; }
.bc-bo-ri-wi-in { border-right-width: inherit; }

// BORDER SPACING: NOPE

// BORDER STYLE
.bc-bo-st-da { border-style: dashed; }
.bc-bo-st-dot { border-style: dotted; }
.bc-bo-st-dou { border-style: double; }
.bc-bo-st-gr { border-style: groove; }
.bc-bo-st-hi { border-style: hidden; }
.bc-bo-st-ins { border-style: inset; }
.bc-bo-st-no { border-style: none; }
.bc-bo-st-ou { border-style: outset; }
.bc-bo-st-ri { border-style: ridge; }
.bc-bo-st-so { border-style: solid; }
.bc-bo-st-inh { border-style: inherit; }

//BORDER TOP: NOPE

//BORDER TOP COLOR: NOPE

// BORDER TOP LEFT RADIUS: NOPE

// BORDER TOP RIGHT RADIUS: NOPE

// BORDER TOP STYLE
.bc-bo-to-st-da { border-top-style: dashed; }
.bc-bo-to-st-dot { border-top-style: dotted; }
.bc-bo-to-st-dou { border-top-style: double; }
.bc-bo-to-st-gr { border-top-style: groove; }
.bc-bo-to-st-hi { border-top-style: hidden; }
.bc-bo-to-st-ins { border-top-style: inset; }
.bc-bo-to-st-no { border-top-style: none; }
.bc-bo-to-st-ou { border-top-style: outset; }
.bc-bo-to-st-ri { border-top-style: ridge; }
.bc-bo-to-st-so { border-top-style: solid; }
.bc-bo-bo-st-inh { border-top-style: inherit; }

// BORDER TOP WIDTH
.bc-bo-to-wi-me { border-top-width: medium; }
.bc-bo-to-wi-thic { border-top-width: thick; }
.bc-bo-to-wi-thin { border-top-width: thin; }
.bc-bo-to-wi-in { border-top-width: inherit; }

//BOTTOM
.bc-bot-au { bottom: auto; }
.bc-bot-in { bottom: inherit; }

// BOX DECORATION BREAK: NOPE

// BOX SHADOW: NOPE

//BOX SIZING
.bc-box-si-bo-bo { box-sizing: border-box; }
.bc-box-si-co-bo { box-sizing: content-box; }
.bc-box-si-inh { box-sizing: inherit; }
.bc-box-si-ini { box-sizing: initial; }
.bc-box-si-un { box-sizing: unset; }

// BREAK AFTER
.bc-br-af-al { break-after: always; }
.bc-br-af-au { break-after: auto; }
.bc-br-af-av { break-after: avoid; }
.bc-br-af-av-co { break-after: avoid-column; }
.bc-br-af-av-pa { break-after: avoid-page; }
.bc-br-af-av-re { break-after: avoid-region; }
.bc-br-af-co { break-after: column; }
.bc-br-af-le { break-after: left; }
.bc-br-af-pa { break-after: page; }
.bc-br-af-rec { break-after: recto; }
.bc-br-af-reg { break-after: region; }
.bc-br-af-ri { break-after: right; }
.bc-br-af-ve { break-after: verso; }

// BREAK BEFORE
.bc-br-be-al { break-before: always; }
.bc-br-be-au { break-before: auto; }
.bc-br-be-av { break-before: avoid; }
.bc-br-be-av-co { break-before: avoid-column; }
.bc-br-be-av-pa { break-before: avoid-page; }
.bc-br-be-av-re { break-before: avoid-region; }
.bc-br-be-co { break-before: column; }
.bc-br-be-le { break-before: left; }
.bc-br-be-pa { break-before: page; }
.bc-br-be-rec { break-before: recto; }
.bc-br-be-reg { break-before: region; }
.bc-br-be-ri { break-before: right; }
.bc-br-be-ve { break-before: verso; }

// BREAK INSIDE
.bc-br-in-au { break-inside: auto; }
.bc-br-in-av { break-inside: avoid; }
.bc-br-in-av-co { break-inside: avoid-column; }
.bc-br-in-av-pa { break-inside: avoid-page; }
.bc-br-in-av-re { break-inside: avoid-region; }