.bkgnd-att-scr { background-attachment: scroll; }
.bkgnd-att-fix { background-attachment: fixed; }
.bkgnd-att-loc { background-attachment: local; }

.bkgnd-clp-bbx { background-clip: border-box; }
.bkgnd-clp-pbx { background-clip: padding-box; }
.bkgnd-clp-cbx { background-clip: content-box; }

.bkgnd-ori-bbx { background-origin: border-box; }
.bkgnd-ori-pbx { background-origin: padding-box; }
.bkgnd-ori-cbx { background-origin: content-box; }

.bkgnd-pos-lt { background-position: left top; }
.bkgnd-pos-lc { background-position: left center; }
.bkgnd-pos-lb { background-position: left bottom; }
.bkgnd-pos-rt { background-position: right top; }
.bkgnd-pos-rc { background-position: right center; }
.bkgnd-pos-rb { background-position: right bottom; }
.bkgnd-pos-ct { background-position: center top; }
.bkgnd-pos-cc { background-position: center center; }
.bkgnd-pos-cb { background-position: center bottom; }

.bkgnd-rep-rep { background-repeat: repeat; }
.bkgnd-rep-repx { background-repeat: repeat-x; }
.bkgnd-rep-repy { background-repeat: repeat-y; }
.bkgnd-rep-norep { background-repeat: no-repeat; }

.bkgnd-siz-cov { background-size: cover; }
.bkgnd-siz-con { background-size: contain; }