// CAPTION SIDE
.bc-ca-si-bo { caption-side: bottom; }
.bc-ca-si-to { caption-side: top; }
.bc-ca-si-inh { caption-side: inherit; }
.bc-ca-si-ini { caption-side: initial; }
.bc-ca-si-un { caption-side: unset; }

// CLEAR
.bc-cl-bo { clear: both; }
.bc-cl-in-st { clear: inline-start; }
.bc-cl-in-en { clear: inline-end; }
.bc-cl-le { clear: left; }
.bc-cl-no { clear: none; }
.bc-cl-ri { clear: right; }
.bc-cle-inh { clear: inherit; }

// CLIP: NOPE

// CLIP PATH: NOPE

// COLOR: NOPE

// COLUMNS: NOPE

// COLUMN COUNT: NOPE

// COLUMN FILL
.bc-co-fi { column-fill: auto; }
.bc-co-ba { column-fill: balance; }
.bc-co-inh { column-fill: inherit; }
.bc-co-ini { column-fill: initial; }
.bc-co-un { column-fill: unset; }

// COLUMN GAP: NOPE

// COLUMN RULE: NOPE

// COLUMN RULE COLOR: NOPE

// COLUMN RULE STYLE
.bc-co-ru-st-da { column-rule-style: dashed; }
.bc-co-ru-st-dot { column-rule-style: dotted; }
.bc-co-ru-st-dou { column-rule-style: double; }
.bc-co-ru-st-gr { column-rule-style: groove; }
.bc-co-ru-st-hi { column-rule-style: hidden; }
.bc-co-ru-st-ins { column-rule-style: inset; }
.bc-co-ru-st-no { column-rule-style: none; }
.bc-co-ru-st-ou { column-rule-style: outset; }
.bc-co-ru-st-ri { column-rule-style: ridge; }
.bc-co-ru-st-so { column-rule-style: solid; }
.bc-co-ru-st-inh { column-rule-style: inherit; }
.bc-co-ru-st-ini { column-rule-style: initial; }
.bc-co-ru-st-un { column-rule-style: unset; }

// COLUMN RULE WIDTH
.bc-co-ru-wi-thin { column-rule-width: thin; }
.bc-co-ru-wi-me { column-rule-width: medium; }
.bc-co-ru-wi-thic { column-rule-width: thick; }
.bc-co-ru-wi-inh { column-rule-width: inherit; }
.bc-co-ru-wi-ini { column-rule-width: initial; }
.bc-co-ru-wi-un { column-rule-width: unset; }

// COLUMN SPAN
.bc-co-sp-al { column-span: all; }
.bc-co-sp-no { column-span: none; }
.bc-co-sp-inh { column-span: inherit; }
.bc-co-sp-ini { column-span: initial; }
.bc-co-sp-un { column-span: unset; }

// COLUMN WIDTH
.bc-co-wi { column-width: auto; }
.bc-co-wi { column-width: inherit; }
.bc-co-wi { column-width: initial; }
.bc-co-wi { column-width: unset; }

// CONTENT: NOPE

// COUNTER INCREMENT: NOPE

// COUNTER RESET: NOPE

// CURSOR
.bc-cu-al { cursor: alias; }
.bc-cu-al-sc { cursor: all-scroll; }
.bc-cu-au { cursor: auto; }
.bc-cu-ce { cursor: cell; }
.bc-cu-co { cursor: copy; }
.bc-cu-co-re { cursor: col-resize; }
.bc-cu-co-me { cursor: context-menu; }
.bc-cu-cr { cursor: crosshair; }
.bc-cu-de { cursor: default; }
.bc-cu-e-re { cursor: e-resize; }
.bc-cu-ew-re { cursor: ew-resize; }
.bc-cu-gr { cursor: grab; }
.bc-cu-grg { cursor: grabbing; }
.bc-cu-he { cursor: help; }
.bc-cu-mo { cursor: move; }
.bc-cu-n-re { cursor: n-resize; }
.bc-cu-ne-re { cursor: ne-resize; }
.bc-cu-nesw-re { cursor: nesw-resize; }
.bc-cu-no { cursor: none; }
.bc-cu-no-al { cursor: not-allowed; }
.bc-cu-no-dr { cursor: no-drop; }
.bc-cu-ns-re { cursor: ns-resize; }
.bc-cu-nw-re { cursor: nw-resize; }
.bc-cu-nwse-re { cursor: nwse-resize; }
.bc-cu-po { cursor: pointer; }
.bc-cu-pr { cursor: progress; }
.bc-cu-ro-re { cursor: row-resize; }
.bc-cu-s-re { cursor: s-resize; }
.bc-cu-se-re { cursor: se-resize; }
.bc-cu-sw-re { cursor: sw-resize; }
.bc-cu-te { cursor: text; }
.bc-cu-ve-te { cursor: vertical-text; }
.bc-cu-w-re { cursor: w-resize; }
.bc-cu-wa { cursor: wait; }
.bc-cu-zo-in { cursor: zoom-in; }
.bc-cu-zo-ou { cursor: zoom-out; }