.cur-ali { cursor: alias; }
.cur-allscr { cursor: all-scroll; }
.cur-cel { cursor: cell; }
.cur-ctxmen { cursor: context-menu; }
.cur-colres { cursor: col-resize; }
.cur-cop { cursor: copy; }
.cur-cro { cursor: crosshair; }
.cur-erez { cursor: e-resize; }
.cur-ewrez { cursor: ew-resize; }
.cur-gra { cursor: grab; }
.cur-grng { cursor: grabbing; }
.cur-help { cursor: help; }
.cur-mov { cursor: move; }
.cur-nrez { cursor: n-resize; }
.cur-nerez { cursor: ne-resize; }
.cur-neswrez { cursor: nesw-resize; }
.cur-nsrez { cursor: ns-resize; }
.cur-nwez { cursor: nw-resize; }
.cur-nwserez { cursor: nwse-resize; }
.cur-ndro { cursor: no-drop; }
.cur-non { cursor: none; }
.cur-noal { cursor: not-allowed; }
.cur-poi { cursor: pointer; }
.cur-pro { cursor: progress; }
.cur-rowrez { cursor: row-resize; }
.cur-srez { cursor: s-resize; }
.cur-serez { cursor: se-resize; }
.cur-swrez { cursor: sw-resize; }
.cur-txt { cursor: text; }
.cur-vtxt { cursor: vertical-text; }
.cur-wrez { cursor: w-resize; }
.cur-wai { cursor: wait; }
.cur-zin { cursor: zoom-in; }
.cur-zou { cursor: zoom-out; }