// DIRECTION
.bc-dir-ltr { direction: ltr; }
.bc-dir-rtl { direction: rtl; }
.bc-dir-inh { direction: inherit; }
.bc-dir-ini { direction: initial; }
.bc-dir-un { direction: unset; }

// DISPLAY
.bc-dis-bl { display: block; }
.bc-dis-fl { display: flex; }
.bc-dis-in { display: inline; }
.bc-dis-in-bl { display: inline-block; }
.bc-dis-in-fl { display: inline-flex; }
.bc-dis-in-ta { display: inline-table; }
.bc-dis-li-it { display: list-item; }
.bc-dis-no { display: none; }
.bc-dis-ru-in { display: run-in; }
.bc-dis-ta { display: table; }
.bc-dis-ta-ca { display: table-caption; }
.bc-dis-ta-ce { display: table-cell; }
.bc-dis-ta-co { display: table-column; }
.bc-dis-ta-co-gr { display: table-column-group; }
.bc-dis-ta-fo-gr { display: table-footer-group; }
.bc-dis-ta-he-gr { display: table-header-group; }
.bc-dis-ta-ro { display: table-row; }
.bc-dis-ta-ro-gr { display: table-row-group; }
.bc-dis-inh { display: inherit; }
.bc-dis-ini { display: initial; }
.bc-dis-un { display: unset; }