.dis-inl { display: inline; }
.dis-blk { display: block; }
.dis-flx { display: flex; }
.dis-inblk { display: inline-block; }
.dis-inflx { display: inline-flex; }
.dis-intab { display: inline-table; }
.dis-liitm { display: list-item; }
.dis-runin { display: run-in; }
.dis-tab { display: table; }
.dis-tbcap { display: table-caption; }
.dis-tbcolgr { display: table-column-group; }
.dis-tbheagr { display: table-header-group; }
.dis-tbfoogr { display: table-footer-group; }
.dis-tbrowgr { display: table-row-group; }
.dis-tbcel { display: table-cell; }
.dis-tbcol { display: table-column; }
.dis-tbrow { display: table-row; }
.dis-non { display: none; }


