// EMPTY CELLS
.bc-em-ce-sh { empty-cells: show; }
.bc-em-ce-hi { empty-cells: hide; }
//
//.bc-em-ce-inh { empty-cells: inherit; }
.bc-em-ce-ini { empty-cells: initial; }
.bc-em-ce-un { empty-cells: unset; }