//Flex Direction
.fle-di-co { flex-direction: column; }
.fle-di-core { flex-direction: column-reverse; }
.fle-di-ro { flex-direction: row; }
.fle-di-rore { flex-direction: row-reverse; }

//Flex Wrap
.fle-wr-no { flex-wrap: nowrap; }
.fle-wr-wr { flex-wrap: wrap; }
.fle-wr-wrre { flex-wrap: wrap-reverse; }