.fnt-sty-nor { font-style: normal;}
.fnt-sty-ita { font-style: italic; }
.fnt-sty-obl { font-style: oblique; }

.fnt-var-smcap { font-variant: small-caps; }

.fnt-wei-ltr { font-weight: 200; }
.fnt-wei-lit { font-weight: 300; }
.fnt-wei-reg { font-weight: 400; }
.fnt-wei-bld { font-weight: 700; }
.fnt-wei-blr { font-weight: 900; }