//Font Style
.bc-fo-st-it { font-style: italic; }
.bc-fo-st-no { font-style: normal; }
.bc-fo-st-ob { font-style: oblique; }

//Font Variant
.bc-fo-va-smca { font-variant: small-caps; }

//Font Weight
.bc-fo-we-lir { font-weight: 200; } //lighter
.bc-fo-we-li { font-weight: 300; } //light
.bc-fo-we-no { font-weight: 400; } //normal
.bc-fo-we-bo { font-weight: 700; } //bold
.bc-fo-we-bor { font-weight: 900; } //bolder