// HEIGHT
.bc-he-au { height: auto; }
.bc-he-inh { height: inherit; }
.bc-he-ini { height: initial; }
.bc-he-un { height: unset; }

// HYPHENS
// *Not included because of the lack of support in different browsers.
