.jst-con-flx-str { -webkit-justify-content: flex-start;justify-content: flex-start; }
.jst-con-flx-end { -webkit-justify-content: flex-end;justify-content: flex-end; }
.jst-con-cen { -webkit-justify-content: center;justify-content: center; }
.jst-con-spa-btw { -webkit-justify-content: space-between;justify-content: space-between; }
.jst-con-spa-ard { -webkit-justify-content: space-around;justify-content: space-around; }