// MARGIN
// *Included just reset values
.bc-mar-au { margin: auto; }
.bc-mar-inh { margin: inherit; }
.bc-mar-ini { margin: initial; }
.bc-mar-un { margin: unset; }

// MARGIN BLOCK END
// *Not included because specification has not stabilized

// MARGIN BLOCK START
// *Not included because specification has not stabilized

// MARGIN BOTTOM
// *Included just reset values
.bc-mar-bo-au { margin-bottom: auto; }
.bc-mar-bo-inh { margin-bottom: inherit; }
.bc-mar-bo-ini { margin-bottom: initial; }
.bc-mar-bo-un { margin-bottom: unset; }

// MARGIN INLINE END
// *Not included because specification has not stabilized

// MARGIN INLINE START
// *Not included because specification has not stabilized

// MARGIN LEFT
// *Included just reset values
.bc-mar-le-au { margin-left: auto; }
.bc-mar-le-inh { margin-left: inherit; }
.bc-mar-le-ini { margin-left: initial; }
.bc-mar-le-un { margin-left: unset; }

// MARGIN RIGHT
.bc-mar-ri-au { margin-right: auto; }
.bc-mar-ri-inh { margin-right: inherit; }
.bc-mar-ri-ini { margin-right: initial; }
.bc-mar-ri-un { margin-right: unset; }

// MARGIN TOP
.bc-mar-to-au { margin-top: auto; }
.bc-mar-to-inh { margin-top: inherit; }
.bc-mar-to-ini { margin-top: initial; }
.bc-mar-to-un { margin-top: unset; }

// MARKS
// *Not included because specification has not stabilized

// MASK
// *Not included because specification has not stabilized
//.bc-mas-no { mask: none; }
//.bc-mas-inh { mask: inherit; }
//.bc-mas-ini { mask: initial; }
//.bc-mas-un { mask: unset; }

// MASK TYPE
.bc-mas-ty-al { mask-type: alpha; }
.bc-mas-ty-inh { mask-type: inherit; }
.bc-mas-ty-ini { mask-type: initial; }
.bc-mas-ty-lu { mask-type: luminance; }
.bc-mas-ty-un { mask-type: unset; }

// MAX BLOCK SIZE
// *Not included because specification has not stabilized

// MAX HEIGHT
//.bc-ma-he-no { max-height: fill-available; }
.bc-max-he-no { max-height: fit-content; }
.bc-max-he-no { max-height: inherit; }
.bc-max-he-no { max-height: initial; }
.bc-max-he-no { max-height: max-content; }
.bc-max-he-no { max-height: min-content; }
.bc-max-he-no { max-height: none; }
.bc-max-he-no { max-height: unset; }

// MAX INLINE SIZE
// *Not included because specification has not stabilized

// MAX WIDTH
//.bc-ma-wi-fi-av { max-width: fill-available; }
.bc-max-wi-fi-co { max-width: fit-content; }
.bc-max-wi-inh { max-width: inherit; }
.bc-max-wi-ini { max-width: initial; }
.bc-max-wi-ma-co { max-width: max-content; }
.bc-max-wi-mi-co { max-width: min-content; }
.bc-max-wi-no { max-width: none; }
.bc-max-wi-un { max-width: unset; }

// MAX ZOOM
// *Not included because specification has not stabilized

// MIN BLOCK SIZE
// *Not included because specification has not stabilized

// MIN HEIGHT
//.bc-mi-he-fi-av { min-height: fill-available; }
.bc-min-he-fi-co { min-height: fit-content; }
.bc-min-he-inh { min-height: inherit; }
.bc-min-he-ini { min-height: initial; }
.bc-min-he-ma-co { min-height: max-content; }
.bc-min-he-mi-co { min-height: min-content; }
.bc-min-he-un { min-height: unset; }

// MIN INLINE SIZE
// *Not included because specification is not stable

// MIN WIDTH
//.bc-mi-wi-fi-av { min-width: fill-available; }
.bc-min-wi-fi-co { min-width: fit-content; }
.bc-min-wi-inh { min-width: inherit; }
.bc-min-wi-ini { min-width: initial; }
.bc-min-wi-ma-co { min-width: max-content; }
.bc-min-wi-mi-co { min-width: min-content; }
.bc-min-wi-un { min-width: unset; }

// MIN ZOOM
// *Not included because specification has not stabilized


