//Outline Style
.bc-ou-st-da { outline-style: dashed; }
.bc-ou-st-dot { outline-style: dotted; }
.bc-ou-st-dou { outline-style: double; }
.bc-ou-st-gr { outline-style: groove; }
.bc-ou-st-hi { outline-style: hidden; }
.bc-ou-st-in { outline-style: inset; }
.bc-ou-st-no { outline-style: none; }
.bc-ou-st-ou { outline-style: outset; }
.bc-ou-st-ri { outline-style: ridge; }
.bc-ou-st-so { outline-style: solid; }