.oli-sty-non { outline-style: none; }
.oli-sty-hid { outline-style: hidden; }
.oli-sty-dot { outline-style: dotted; }
.oli-sty-das { outline-style: dashed; }
.oli-sty-sol { outline-style: solid; }
.oli-sty-dou { outline-style: double; }
.oli-sty-gro { outline-style: groove; }
.oli-sty-rid { outline-style: ridge; }
.oli-sty-ins { outline-style: inset; }
.oli-sty-out { outline-style: outset; }
