.ove-vis { overflow: visible; }
.ove-hid { overflow: hidden; }
.ove-scr { overflow: scroll; }
.ove-aut { overflow: auto; }

.ove-x-vis { overflow-x: visible; }
.ove-x-hid { overflow-x: hidden; }
.ove-x-scr { overflow-x: scroll; }
.ove-x-aut { overflow-x: auto; }

.ove-y-vis { overflow-y: visible; }
.ove-y-hid { overflow-y: hidden; }
.ove-y-scr { overflow-y: scroll; }
.ove-y-aut { overflow-y: auto; }