//Page Break After
.bc-pag-br-af-al { page-break-after: always; }
.bc-pag-br-af-au { page-break-after: auto; }
.bc-pag-br-af-av { page-break-after: avoid; }
.bc-pag-br-af-le { page-break-after: left; }
.bc-pag-br-af-ri { page-break-after: right; }

//Page Break Before
.bc-pag-br-be-al { page-break-before: always; }
.bc-pag-br-be-au { page-break-before: auto; }
.bc-pag-br-be-av { page-break-before: avoid; }
.bc-pag-br-be-le { page-break-before: left; }
.bc-pag-br-be-ri { page-break-before: right; }

//Page Break Inside
.bc-pag-br-in-au { page-break-inside: auto; }
.bc-pag-br-in-av { page-break-inside: avoid; }