// Range: NOPE

// Resize
.bc-re-bl { resize: block; }
.bc-re-bo { resize: both; }
.bc-re-ho { resize: horizontal; }
.bc-re-inh { resize: inherit; }
.bc-re-ini { resize: initial; }
.bc-re-inl { resize: inline; }
.bc-re-no { resize: none; }
.bc-re-ve { resize: vertical; }
.bc-re-un { resize: unset; }

// Right
.bc-ri-au { right: auto; }
.bc-ri-inh { right: inherit; }
.bc-ri-ini { right: initial; }
.bc-ri-un { right: unset; }

// Ruby align: NOPE

// Ruby position: NOPE