// Tab Size: NOPE

// Table Layout
.bc-ta-la-au { table-layout: auto; }
.bc-ta-la-fi { table-layout: fixed; }
.bc-ta-la-inh { table-layout: inherit; }
.bc-ta-la-ini { table-layout: initial; }
.bc-ta-la-un { table-layout: unset; }

// Text Align
.bc-te-al-ce { text-align: center; }
.bc-te-al-en { text-align: end; }
.bc-te-al-inh { text-align: inherit; }
.bc-te-al-ini { text-align: initial; }
.bc-te-al-ju { text-align: justify; }
.bc-te-al-ju-al { text-align: justify-all; }
.bc-te-al-le { text-align: left; }
.bc-te-al-ma-pa { text-align: match-parent; }
.bc-te-al-ri { text-align: right; }
.bc-te-al-st { text-align: start; }
.bc-te-al-un { text-align: unset; }

// Text Align Last: NOPE

// Text Combine Upright: NOPE

// Text Decoration
.bc-te-de-inh { text-decoration-line: inherit; }
.bc-te-de-ini { text-decoration-line: initial; }
.bc-te-de-li-th { text-decoration-line: line-through; }
.bc-te-de-no { text-decoration: none; }
.bc-te-de-ov { text-decoration-line: overline; }
.bc-te-de-und { text-decoration-line: underline; }
.bc-te-de-uns { text-decoration-line: unset; }

// Text Decoration Color: NOPE

// Text Decoration Line: NOPE

// Text Decoration Style: NOPE

// Text Emphasis: NOPE

// Text Emphasis Color: NOPE

// Text Emphasis Position: NOPE

// Text Emphasis Style: NOPE

// Text Indent: NOPE

// Text Orientation: NOPE

// Text Overflow
.bc-te-ov-cl { text-overflow: clip; }
.bc-te-ov-el { text-overflow: ellipsis; }
.bc-te-ov-inh { text-overflow: inherit; }
.bc-te-ov-ini { text-overflow: initial; }
.bc-te-ov-un { text-overflow: unset; }

// Text Rendering: NOPE

// Text Shadow
.bc-te-sh-inh { text-shadow: inherit; }
.bc-te-sh-ini { text-shadow: initial; }
.bc-te-sh-un { text-shadow: unset; }

// Text transform
.bc-te-tr-ca { text-transform: capitalize; }
.bc-te-tr-fu-wi { text-transform: full-width; }
.bc-te-tr-inh { text-transform: inherit; }
.bc-te-tr-ini { text-transform: initial; }
.bc-te-tr-lo { text-transform: lowercase; }
.bc-te-tr-no { text-transform: none; }
.bc-te-tr-un { text-transform: unset; }
.bc-te-tr-up { text-transform: uppercase; }

// Text Underline Position: NOPE

// Top
.bc-to-au { top: auto; }
.bc-to-inh { top: inherit; }
.bc-to-ini { top: initial; }
.bc-to-un { top: unset; }

// Touch Action: NOPE

// Transform: NOPE

// Transform Box: NOPE

// Transform Origin: NOPE

// Transform Style: NOPE

// Transition: NOPE

// Transition Delay: NOPE

// Transition Duration: NOPE

// Transition Property: NOPE

// Transition Timing Function: NOPE

