.txt-ali-cen { text-align: center; }
.txt-ali-lft { text-align: left; }
.txt-ali-rgt { text-align: right; }

.txt-dec-non { text-decoration: none; }
.txt-dec-und { text-decoration: underline; }
.txt-dec-ove { text-decoration: overline; }
.txt-dec-lith { text-decoration: line-through; }

.txt-ove-cli { text-overflow: clip; }
.txt-ove-ellipsis { text-overflow: ellipsis; }

.txt-trs-non { text-transform: none; }
.txt-trs-cap { text-transform: capitalize; }
.txt-trs-low { text-transform: uppercase; }
.txt-trs-upe { text-transform: lowercase; }