//Text Align
$textAlignMap: (
  bc-te-al-ce: ('text-align', 'center'),
  bc-te-al-le: ('text-align', 'left'),
  bc-te-al-ri: ('text-align', 'right')
);

$responsiveMap: map-merge($responsiveMap, $textAlignMap);

// Text Decoration
.bc-te-de-lith { text-decoration: line-through; }
.bc-te-de-no { text-decoration: none; }
.bc-te-de-ov { text-decoration: overline; }
.bc-te-de-un { text-decoration: underline; }

//Text Overflow
.bc-te-ov-cl { text-overflow: clip; }
.bc-te-ov-el { text-overflow: ellipsis; }

//Text Transform
.bc-te-tr-ca { text-transform: capitalize; }
.bc-te-tr-lo { text-transform: lowercase; }
.bc-te-tr-no { text-transform: none; }
.bc-te-tr-up { text-transform: uppercase; }