//Vertical Align
.bc-ve-al-ba { vertical-align: baseline; }
.bc-ve-al-bo { vertical-align: bottom; }
.bc-ve-al-inh { vertical-align: inherit; }
.bc-ve-al-ini { vertical-align: initial; }
.bc-ve-al-mi { vertical-align: middle; }
.bc-ve-al-sub { vertical-align: sub; }
.bc-ve-al-sup { vertical-align: super; }
.bc-ve-al-te-bo { vertical-align: text-bottom; }
.bc-ve-al-te-to { vertical-align: text-top; }
.bc-ve-al-to { vertical-align: top; }
.bc-ve-al-un { vertical-align: unset; }

//Visibility
.bc-vi-co { visibility: collapse; }
.bc-vi-hi { visibility: hidden; }
.bc-vi-inh { visibility: inherit; }
.bc-vi-ini { visibility: initial; }
.bc-vi-un { visibility: unset; }
.bc-vi-vi { visibility: visible; }