.ver-ali-bas { vertical-align: baseline; }
.ver-ali-sub { vertical-align: sub; }
.ver-ali-sup { vertical-align: super; }
.ver-ali-top { vertical-align: top; }
.ver-ali-txtp { vertical-align: text-top; }
.ver-ali-mid { vertical-align: middle; }
.ver-ali-bot { vertical-align: bottom; }
.ver-ali-txbt { vertical-align: text-bottom; }