//Vetical Align
.bc-ve-al-ba { vertical-align: baseline; }
.bc-ve-al-bo { vertical-align: bottom; }
.bc-ve-al-mi { vertical-align: middle; }
.bc-ve-al-sub { vertical-align: sub; }
.bc-ve-al-sup { vertical-align: super; }
.bc-ve-al-tebo { vertical-align: text-bottom; }
.bc-ve-al-teto { vertical-align: text-top; }
.bc-ve-al-to { vertical-align: top; }