section
  .grd-container.pad-50
      .col-4 LOGO
      .col-8
        h1.fnt-siz-16 BaraCSS handle the atomic CSS properties and the grid system for you.
        div.mar-top-30 CTA (Get started)
section
  .grd-container.pad-50
    h2 What is BaraCSS?
    p BaraCSS is a simple CSS library that includes CSS properties that are not quantifiable and a simple grid system, that means that you just need to code CSS for specific modules and forget about general styles not worth to have a style selector just for that.
section
  .grd-container.pad-50
    h2 What BaraCSS can do for me?
    p Bacon ipsum dolor amet pig pastrami beef, leberkas meatball ribeye pork chop. Jerky landjaeger pork chop pig, kielbasa ham tail flank porchetta brisket.
    p IMAGES OR CODE
    p Bacon ipsum dolor amet pig pastrami beef, leberkas meatball ribeye pork chop. Jerky landjaeger pork chop pig, kielbasa ham tail flank porchetta brisket.
    p IMAGES OR CODE
    p Bacon ipsum dolor amet pig pastrami beef, leberkas meatball ribeye pork chop. Jerky landjaeger pork chop pig, kielbasa ham tail flank porchetta brisket.
    p IMAGES OR CODE
    p Bacon ipsum dolor amet pig pastrami beef, leberkas meatball ribeye pork chop. Jerky landjaeger pork chop pig, kielbasa ham tail flank porchetta brisket.
    p IMAGES OR CODE
section
  .grd-container.pad-50.txt-ali-cen
    h2 Get started
    p Bacon ipsum dolor amet pig pastrami beef, leberkas meatball ribeye pork chop. Jerky landjaeger pork chop pig, kielbasa ham tail flank porchetta brisket.
    div CTA (Get started)
    div Github