.clr-bgc-pri-drk
  .grd-container.txt-ali-cen.pad-30.fnt-siz-14.clr-txt-pri-lgt
    .col-12 BaraCSS is licensed under the MIT. Bacon ipsum dolor amet pig pastrami beef, leberkas meatball ribeye pork chop. Jerky landjaeger pork chop pig, kielbasa ham tail flank porchetta brisket. Turkey tenderloin ball tip brisket pancetta frankfurter.
    .col-12.mar-top-10 Designed and built by #[a(class='clr-txt-pri-lgtr', href='https://github.com/rafaelramos') Rafael Ramos].