.clr-bgc-pri-drk
  .grd-container.pad-y-20.pad-x-30
    .flo-lft
      a(href='/') LOGO
    .flo-rgt
      ul.lis-sty-typ-non.fnt-siz-20.header-links
        li.dis-inl.mar-rgt-30
          a(class='txt-dec-non clr-txt-pri-lgtr', href='/') Documentation
        li.dis-inl.mar-rgt-30
          a(class='txt-dec-non clr-txt-pri-lgtr', href='/') Blog
        li.dis-inl.mar-rgt-30
          a(class='txt-dec-non clr-txt-pri-lgtr', href='/') FAQ
        li.dis-inl
          a(class='txt-dec-non clr-txt-pri-lgtr', href='/') Github