.grd-container.pad-y-10
  .flo-lft
    a(href='/') LOGO
  .flo-rgt
    ul.lis-sty-typ-non.fnt-siz-16
      li.dis-inl.mar-rgt-10
        a(href='/') Documentation
      li.dis-inl.mar-rgt-10
        a(href='/') Blog
      li.dis-inl.mar-rgt-10
        a(href='/') FAQ
      li.dis-inl
        a(href='/') Github