.bor-col-col { border-collapse: collapse; }
.bor-col-sep { border-collpase: separate; }

.bor-sty-non { border-style: none; }
.bor-sty-hid { border-style: hidden; }
.bor-sty-dot { border-style: dotted; }
.bor-sty-das { border-style: dashed; }
.bor-sty-sol { border-style: solid; }
.bor-sty-dou { border-style: double; }
.bor-sty-gro { border-style: groove; }
.bor-sty-rid { border-style: ridge; }
.bor-sty-ins { border-style: inset; }
.bor-sty-out { border-style: outset; }