.flx-dir-row { flex-direction: row; }
.flx-dir-rwrv { flex-direction: row-reverse; }
.flx-dir-col { flex-direction: column; }
.flx-dir-clrv { flex-direction: column-reverse; }

.flx-wrp-nowp { flex-wrap: nowrap; }
.flx-wrp-wrp { flex-wrap: wrap; }
.flx-wrp-wprv { flex-wrap: wrap-reverse; }