// Border Radius
.bc-bo-ra-3 { border-radius: 3px; }
.bc-bo-ra-5 { border-radius: 5px; }
.bc-bo-ra-10 { border-radius: 10px; }
.bc-bo-ra-25p { border-radius: 25%; }
.bc-bo-ra-50p { border-radius: 50%; }

// Border width