// Font Size
$font-limit: 64;
$font-helper: 10;

@while($font-helper <= $font-limit){
  $fontSizeMap: (
    bc-fo-si-#{$font-helper}: ('font-size', '#{$font-helper/10}rem'),
  );

  $responsiveMap: map-merge($responsiveMap, $fontSizeMap);

  $font-helper: $font-helper + 2;
}