// Grid system and columns

// Grid container
.bc-grid-cont {
  max-width: map-get($sizesMap, xl);
  margin: 0 auto;
}

.bc-grid-cont:after {
  content:"";
  display:table;
  clear:both;
}

@each $size, $width in $sizesMap {
  .bc-grid-cont-#{$size} {
    max-width: $width;
    margin: 0 auto;
  }

  .bc-grid-cont-#{$size}:after {
    content:"";
    display:table;
    clear:both;
  }
}

// Columns and responsive columns
@for $i from $columns through 1 {
  .bc-col-#{$i} { float: left;padding-left: $gutter/2;padding-right: $gutter/2;width: (100%/$columns)*$i; }

  @each $size, $width in $sizesMap {
    .bc-col-#{$i}-#{$size} {
      @media (min-width: #{$width}px) {  float: left;padding-left: $gutter/2;padding-right: $gutter/2;width: (100%/$columns)*$i; }
    }
  }
}

// Columns offset
@for $i from 1 through $columns {
  $colOffMap: (
    bc-col-off-#{$i}: ('margin-left', (100%/$columns)*$i)
  );

  $responsiveMap: map-merge($responsiveMap, $colOffMap);
}