// Line height
$font-limit: 64;
$font-helper: 10;

@while($font-helper <= $font-limit){
  $lineHeightMap: (
    bc-lin-he-#{$font-helper}: ('line-height', '#{$font-helper}px'),
  );

  $responsiveMap: map-merge($responsiveMap, $lineHeightMap);

  $font-helper: $font-helper + 2;
}