$font-limit: 64;
$font-helper: 10;

// Line height will have the format .lin-hei-x
@while($font-helper <= $font-limit){
  .lin-hei-#{$font-helper} { line-height: $font-helper + px; }
  $font-helper: $font-helper + 2;
}