// Margin
.bc-ma-ce { margin-right: auto;margin-left: auto; }

.bc-ma-5 { margin: 5px; }
.bc-ma-bo-5 { margin-bottom: 5px; }
.bc-ma-le-5 { margin-left: 5px; }
.bc-ma-ri-5 { margin-right: 5px; }
.bc-ma-to-5 { margin-top: 5px; }
.bc-ma-x-5 { margin-right: 5px;margin-left: 5px; }
.bc-ma-y-5 { margin-top: 5px;margin-bottom: 5px; }

@for $i from 0 through 10 {
  .bc-ma-#{$i*10} { margin: $i*10 + px; }
  .bc-ma-bo-#{$i*10} { margin-bottom: $i*10 + px; }
  .bc-ma-le-#{$i*10} { margin-left: $i*10 + px; }
  .bc-ma-ri-#{$i*10} { margin-right: $i*10 + px; }
  .bc-ma-to-#{$i*10} { margin-top: $i*10 + px; }
  .bc-ma-x-#{$i*10} { margin-right: $i*10 + px;margin-left: $i*10 + px; }
  .bc-ma-y-#{$i*10} { margin-top: $i*10 + px;margin-bottom: $i*10 + px; }
}

@each $size, $width in $sizesMap {
  @media (min-width: #{$width}px) {
    .bc-ma-ce--#{$size} { margin-right: auto;margin-left: auto; }

    .bc-ma-5--#{$size} { margin: 5px; }
    .bc-ma-bo-5--#{$size} { margin-bottom: 5px; }
    .bc-ma-le-5--#{$size} { margin-left: 5px; }
    .bc-ma-ri-5--#{$size} { margin-right: 5px; }
    .bc-ma-to-5--#{$size} { margin-top: 5px; }
    .bc-ma-x-5--#{$size} { margin-right: 5px;margin-left: 5px; }
    .bc-ma-y-5--#{$size} { margin-top: 5px;margin-bottom: 5px; }

    @for $i from 0 through 10 {
      .bc-ma-#{$i*10}--#{$size} { margin: $i*10 + px; }
      .bc-ma-bo-#{$i*10}--#{$size} { margin-bottom: $i*10 + px; }
      .bc-ma-le-#{$i*10}--#{$size} { margin-left: $i*10 + px; }
      .bc-ma-ri-#{$i*10}--#{$size} { margin-right: $i*10 + px; }
      .bc-ma-to-#{$i*10}--#{$size} { margin-top: $i*10 + px; }
      .bc-ma-x-#{$i*10}--#{$size} { margin-right: $i*10 + px;margin-left: $i*10 + px; }
      .bc-ma-y-#{$i*10}--#{$size} { margin-top: $i*10 + px;margin-bottom: $i*10 + px; }
    }
  }
}