// Padding
.bc-pad-5 { padding: 5px; }
.bc-pad-bo-5 { padding-bottom: 5px; }
.bc-pad-le-5 { padding-left: 5px; }
.bc-pad-ri-5 { padding-right: 5px; }
.bc-pad-to-5 { padding-top: 5px; }
.bc-pad-x-5 { padding-right: 5px;padding-left: 5px; }
.bc-pad-y-5 { padding-top: 5px;padding-bottom: 5px; }

@for $i from 0 through 10 {
  .bc-pad-#{$i*10} { padding: $i*10 + px; }
  .bc-pad-bo-#{$i*10} { padding-bottom: $i*10 + px; }
  .bc-pad-le-#{$i*10} { padding-left: $i*10 + px; }
  .bc-pad-ri-#{$i*10} { padding-right: $i*10 + px; }
  .bc-pad-to-#{$i*10} { padding-top: $i*10 + px; }
  .bc-pad-x-#{$i*10} { padding-right: $i*10 + px;padding-left: $i*10 + px; }
  .bc-pad-y-#{$i*10} { padding-top: $i*10 + px;padding-bottom: $i*10 + px; }
}

@each $size, $width in $sizesMap {
  @media (min-width: #{$width}px) {
    .bc-pad-5--#{$size} { padding: 5px; }
    .bc-pad-bo-5--#{$size} { padding-bottom: 5px; }
    .bc-pad-le-5--#{$size} { padding-left: 5px; }
    .bc-pad-ri-5--#{$size} { padding-right: 5px; }
    .bc-pad-to-5--#{$size} { padding-top: 5px; }
    .bc-pad-x-5--#{$size} { padding-right: 5px;padding-left: 5px; }
    .bc-pad-y-5--#{$size} { padding-top: 5px;padding-bottom: 5px; }

    @for $i from 0 through 10 {
      .bc-pad-#{$i*10}--#{$size} { padding: $i*10 + px; }
      .bc-pad-bo-#{$i*10}--#{$size} { padding-bottom: $i*10 + px; }
      .bc-pad-le-#{$i*10}--#{$size} { padding-left: $i*10 + px; }
      .bc-pad-ri-#{$i*10}--#{$size} { padding-right: $i*10 + px; }
      .bc-pad-to-#{$i*10}--#{$size} { padding-top: $i*10 + px; }
      .bc-pad-x-#{$i*10}--#{$size} { padding-right: $i*10 + px;padding-left: $i*10 + px; }
      .bc-pad-y-#{$i*10}--#{$size} { padding-top: $i*10 + px;padding-bottom: $i*10 + px; }
    }
  }
}