// Bottom, Left, Right, Top
@for $i from 0 through 10 {
  .bc-bot-#{$i*10} { bottom: $i*10%; }
  .bc-lef-#{$i*10} { left: $i*10%; }
  .bc-rig-#{$i*10} { right: $i*10%; }
  .bc-top-#{$i*10} { top: $i*10%; }
}