//$watch... just use the normal style without screen
$phone: "(min-width: 320px)";   // -p
$phablet: "(min-width: 488px)"; // -f
$tablet: "(min-width: 768px)";  // -t
$lap: "(min-width: 1024px)";    // -l
$desk: "(min-width: 1200px)";   // -d